.classwork-form .card-box-shadow-style{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px ;
  }

.classwork-form .center-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classwork-form .question-number{
  margin-top: 10px;
  font-size: 14px;
  font-family: "poppins", sans-serif;
}

.classwork-form .center-div{
  margin: auto;
}

.classwork-form .classwork-name-input {
  font-size: 36px;
  font-weight: 300;
  font-family: "poppins", sans-serif;
}

.classwork-form .question-card{
  margin-bottom: 40px;
}

.classwork-form .question-text-card{
  margin-top: 8px !important;
  font-size: 12px;
  color: darkgray;
  font-family: "poppins", sans-serif;
}

.classwork-form .ant-card .ant-card-body{
  width: 100% !important;
  padding: 20px 20px 8px 20px !important;
}

.classwork-form .question-close-btn{
  height: 10px;
  float: right;
  margin-top: -6px;
  margin-right: -6px;
}

.classwork-form .underline-input {
  border: 0 !important;
  outline: 0 !important;
  width: 100% !important;
  background: transparent !important;
  border-bottom: .5px solid grey !important;
  transition-duration: 150ms !important;
  margin-bottom: 10px;
}

.classwork-form .ant-form-item-has-error .underline-input,
.classwork-form .ant-form-item-has-error .underline-input:hover,
.classwork-form .ant-form-item-has-error .underline-input:focus{
  border-bottom: 3px solid red !important;
  margin-bottom: 0px;
}

.classwork-form .ant-form-item-explain-error{
  margin-bottom: 10px;
}

.classwork-form .underline-input:hover, .underline-input:focus {
  border-bottom: 3px solid green !important;
  font-weight: bold;
}

/* .classwork-form .load-icon{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
} */

.classwork-form .upload-container .ant-upload.ant-upload-select{
  width: 100% !important;
}







  