.view-classwork .card-box-shadow-style{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px ;
  }

.view-classwork .center-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-classwork .question-number{
  margin-top: 10px;
  font-size: 14px;
  font-family: "poppins", sans-serif;
}

.view-classwork .center-div{
  margin: auto;
}


.view-classwork .question-card{
  margin-bottom: 40px;
}

.view-classwork .classwork-name {
  font-size: 45px;
  font-weight: 300;
  font-family: "poppins", sans-serif;
  margin-bottom: 0px;
}

.view-classwork .ant-checkbox-wrapper {
  align-items: flex-start;
}

.view-classwork .ant-card .ant-card-body{
  width: 100% !important;
  padding: 20px !important;
}

.view-classwork .underline-input {
  border: 0 !important;
  outline: 0 !important;
  width: 100% ;
  background: transparent !important;
  border-bottom: .5px solid grey !important;
  transition-duration: 150ms !important;
  margin-bottom: 10px;
}

.view-classwork .load-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.view-classwork .question-points{
  margin-top: 8px !important;
  font-size: 12px;
  color: darkgray;
  font-family: "poppins", sans-serif;
}

.view-classwork .question-maxpoints{
  margin-top: 12px !important;
  font-size: 12px;
  color: darkgray;
  font-family: "poppins", sans-serif;
  float: right;
}


  