* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 600px;
}

.form-login {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}
.a-right a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  width: 50%;
  float: right;
  transition: 0.3s;
}

.a-right a:hover {
  color: #38d39f;
}
.a-left a {
  width: 50%;
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

.a-left a:hover {
  color: #38d39f;
}
.form-button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.form-button:hover {
  background-position: right;
}

/* .logo {
  float: left !important;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(0, 0, 0, 0.3);
}

.logo {
  float: left;
  margin: 16px 0 16px 24px;
} */

.site-layout-background {
  background: #fff !important;
  height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #292525;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-right {
  float: right;
}

.ant-menu-overflow {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: white !important;
}

.white-avatar {
  background-color: white !important;
  border-radius: 10px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation li {
  color: #0087ca;
}

.hover-underline-animation li:after {
  content: "";
  position: absolute !important;
  transform: scaleX(0) !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: #0087ca !important;
  transform-origin: bottom right !important;
  transition: transform 0.25s ease-out !important;
}

.hover-underline-animation li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ant-menu-overflow {
  background-color: transparent !important;
  border: none !important;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.ellipsis-dropdown {
  cursor: pointer;
  font-size: calc(14px * 1.43);
  transform: rotate(90deg);
  display: inline-block;
  line-height: 1;
  padding: 0.3125rem;
  border-radius: 50rem;
  transition: background-color 0.3s ease;
}

.ellipsis-dropdown:hover,
.ellipsis-dropdown:focus {
  background-color: rgba(black, 0.05);
}

.ant-dropdown-menu {
  min-width: 160px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 8px 20px;
}

.ant-dropdown-menu-item a,
.ant-dropdown-menu-submenu-title a {
  padding: 8px 20px;
  margin: -8px -20px;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
}

.container-home {
  height: 100%;
  width: 100%;
}
.border-b {
  border-bottom: 0px;
}

.background-images {
  background-image: url("../img/wave1.svg");
}
.site-layout-content {
  padding: 24px;
  background: #fff;
  overflow: scroll;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.layout-background {
  position: relative;

  background: #f0f2f5;
}

.site-layout-content-home {
  padding: 18px;
  position: relative;

  background: #ffffff;
  background-size: contain;
  /* background-image: url("../img/bghome.png"); */
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
}
dl,
ol,
ul {
  margin-top: auto;
  margin-bottom: auto !important;
}
.ant-menu-horizontal {
  position: relative;

  line-height: 46px;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 15px !important;
  margin-right: -21px !important;
}
.shadow-box {
  box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
  border-radius: 16px;
}
.rounded {
  border-radius: 25px;
}
.ant-carousel .slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-1 {
  height: 500px;
  color: #fff;
  line-height: "160px";
  text-align: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  background-image: url("../img/carousel3.jpg");
  background-repeat: no-repeat;
}
.carousel-2 {
  height: 500px;
  color: #fff;
  line-height: "160px";
  text-align: center;
  background-position: center;
  background: #364d79;
  background-size: cover;
  background-image: url("../img/carousel4.webp");
  background-repeat: no-repeat;
}
.carousel-3 {
  height: 500px;
  color: #fff;
  line-height: "160px";
  text-align: center;
  background-position: center;
  background: #364d79;
  background-size: cover;
  background-image: url("../img/carousel2.jpg");
  background-repeat: no-repeat;
}
.carousel-4 {
  height: 500px;
  color: #fff;
  line-height: "160px";
  text-align: center;
  background-position: center;
  background: #364d79;
  background-size: cover;
  background-image: url("../img/carousel.png");
  background-repeat: no-repeat;
}
.ant-layout-content {
  position: relative;
}

.styleCard {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 12px 0px;
  border: 1px solid;
  border-color: #dadce0;
}

.styleCardContent {
  padding: 4px 16px 20px 16px;
  background-color: white;
}

.styleImage {
  background-color: lightGray;
  border-radius: 8px 8px 0 0;
  max-height: 140px;
  background-size: cover;

  overflow: hidden;
}

.styleCardTitle {
  font-family: Avenir-Heavy;
  font-size: 20;
  font-weight: 600;
  margin: 12px 0px 0px 0px;
}

.styleLocationLabel {
  color: #8294aa;
  font-size: 14;
  margin: 4px 0;
}

.styleDescription {
  font-size: 14;
  margin: 8px 0 0 0;
}
.divide-bottom {
  width: 100%;
  color: gray;
  text-align: right;
  background-color: white;
}
.stylefooter {
  border-top: 1px solid;
  margin: 0px 5px;
  padding: 10px;
}
.float-child-card {
  width: 20%;
  float: left;
  text-align: center;
  justify-content: center;
  margin-top: -50px;
}
.float-child-card > span {
  background-color: white;
  border: 1px solid;
  border-color: #dadce0;
}
.float-child-right {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .container {
    grid-gap: 5rem;
  }
  .carousel-1 {
    height: 300px;
  }
  .carousel-2 {
    height: 300px;
  }
  .carousel-3 {
    height: 300px;
  }
  .carousel-4 {
    height: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .form-login {
    width: 250px !important;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex: inherit;
  }
}
@media (min-width: 304px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}
.classjoin {
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  position: absolute;
}

.hover-underline-animation:hover {
  transform: scale(1.1);
}
.pr-5 {
  padding-right: 15px;
}
.pl-5 {
  padding-left: 15px;
}
.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px !important;
  height: 20px !important;
  direction: ltr;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}
.ant-checkbox-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 17px !important;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer;
}
#tsparticles {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.display-canvas {
  position: absolute !important;
}
.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
  height: 100vh;
  overflow-y: auto;
}
.checkbox-span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 19px !important;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer;
  margin-left: 8px;
}

/* CSS */
.admin-login-custom-button-style {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.admin-login-custom-button-style p {
  font-family: "Poppins", sans-serif;
}
.admin-login-custom-button-style:hover,
.admin-login-custom-button-style:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.admin-login-custom-button-style:hover {
  transform: translateY(-1px);
}

.admin-login-custom-button-style:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.content-data {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 20px;
}
.text-left {
  text-align: left;
}
.ml-2 {
  margin-left: 10px;
}
