.register-card-label{
    font-family: "poppins", sans-serif;
    padding-bottom: 20px;
}

.form-input-field-style{
    padding-bottom: 10px;
}

.register-card {
    width: 850px;
    border-radius: 7px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px !important;
    font-family: "poppins", sans-serif;
}

  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-bottom{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    margin-left: -30px;
  }

  .register-custom-link{
      display: block;
      margin-top: 8px;
    text-decoration: underline;
  }


@media (max-width: 950px) {
    .register-card {
        width: 750px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .register-card {
        width: 300px;
    }
    
    .sm-btn{
      width: 190px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .register-custom-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 335px) {
  .register-card {
    padding: 0px !important;
    width: 260px;
    
  }
  
}